// Config entries that are earlier take priority.
/*
    perf_level: [
        "auto",
        "low",
        "high",
        "manual",
        "profile_standard",
        "profile_peak",
        "profile_min_sclk",
        "profile_min_mclk",
        "perf_determinism",
    ],
    profile: [
        "BOOTUP_DEFAULT",
        "3D_FULL_SCREEN",
        "POWER_SAVING",
        "VIDEO",
        "VR",
        "COMPUTE",
        "CUSTOM",
        "WINDOW_3D",
        "CAPPED",
        "UNCAPPED",
    ],
*/
(
    config_devices: [
        (
            pci: "0000:03:00.0",
            default_perf_level: Some("auto"),
            default_profile: Some("BOOTUP_DEFAULT"),
            entries: [
                (
                    name: "glxgears",
                    perf_level: None,
                    profile: Some("BOOTUP_DEFAULT"),
                ),
            ],
        ),
    ],
)
