// Config entries that are earlier take priority.
/*
    perf_level: [
        "auto",
        "low",
        "high",
        "manual",
        "profile_standard",
        "profile_peak",
        "profile_min_sclk",
        "profile_min_mclk",
        "perf_determinism",
    ],
    profile: [
        "BOOTUP_DEFAULT",
        "3D_FULL_SCREEN",
        "POWER_SAVING",
        "VIDEO",
        "VR",
        "COMPUTE",
        "CUSTOM",
        "WINDOW_3D",
        "CAPPED",
        "UNCAPPED",
    ],
*/
(
    config_devices: [
        (
            pci: "0000:03:00.0",
            _device_name: Some("AMD Radeon RX 9060 XT"),
            default_power_cap_watt: Some(180),
            _power_cap_watt_range: Some((126, 200)),
            default_perf_level: None,
            default_profile: None,
            default_fan_target_temperature: Some(70),
            _fan_target_temperature_range: Some((25, 110)),
            default_fan_minimum_pwm: Some(20),
            _fan_minimum_pwm_range: Some((20, 100)),
            sclk_offset: Some(-500),
            _sclk_offset_range: Some((-500, 1000)),
            vddgfx_offset: Some(-70),
            _vddgfx_offset_range: Some((-200, 0)),
            fan_zero_rpm: Some(true),
            acoustic_target_rpm_threshold: Some(2400),
            _acoustic_target_rpm_threshold_range: Some((500, 3500)),
            entries: [
                (
                    name: "glxgears",
                    perf_level: None,
                    profile: Some("BOOTUP_DEFAULT"),
                    power_cap_watt: None,
                    fan_target_temperature: None,
                    fan_minimum_pwm: None,
                    acoustic_target_rpm_threshold: None,
                ),
            ],
        ),
    ],
)
