/*
(
    config_devices: [
        (
            // AMDGPU device list can be get using `amdgpu_top --list` or `ls /sys/bus/pci/drivers/amdgpu/`
            pci: "0000:03:00.0",
            // Config entries that are earlier take priority.
            /*
                perf_level: [
                    "auto",
                    "low",
                    "high",
                    "manual",
                    "profile_standard",
                    "profile_peak",
                    "profile_min_sclk",
                    "profile_min_mclk",
                    "profile_exit",
                    "perf_determinism",
                ],
                profile: [
                    "BOOTUP_DEFAULT",
                    "3D_FULL_SCREEN",
                    "POWER_SAVING",
                    "VIDEO",
                    "VR",
                    "COMPUTE",
                    "CUSTOM",
                    "WINDOW_3D",
                    "CAPPED",
                    "UNCAPPED",
                ],
            */
            entries: [
                (name: "MonsterHunterWorld.exe", profile: Some("3D_FULL_SCREEN")),
                (name: "mgsvtpp.exe", profile: Some("3D_FULL_SCREEN")),
                // (name: "firefox-esr", profile: Some("3D_FULL_SCREEN")),
            ],
        )
    ],
)
*/
(
    config_devices: [
        (
            pci: "0000:03:00.0",
            entries: [
                (name: "MonsterHunterWorld.exe", profile: Some("3D_FULL_SCREEN")),
                (name: "mgsvtpp.exe", profile: Some("3D_FULL_SCREEN")),
                (name: "firefox-esr", profile: Some("3D_FULL_SCREEN")),
            ],
        )
    ],
)
